html {
    background-color: rgb(239, 221, 193);
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Merriweather", serif;
}

.body-container {
    padding: 20px;
    border-radius: 30px;
    max-width: 800px;
    margin: 0px auto;
    background-color:beige;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.center-page {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.registration {
    margin-top: 120px;
    max-width: 500px;
    padding: 50px 50px;
}

.details-p {
    color: grey;
    font-size: 12px;
}

.details-input {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

.details-input input{

    width:100%;
    height: 35px;
    padding-left:30px;
    margin: 5px;
    border: 2px solid rgb(246, 246, 246);
    border-radius: 10px;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}


.details-link {
    text-decoration: none;
    color: rgba(55, 52, 233, 0.801);
    transition: color 1s, border 1s;
}

.details-link:hover {
    color: rgb(87, 234, 229);
    border-bottom: 2px solid rgb(87, 234, 229);

}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.details-h1 {
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 40px;
}

.chart-container {
    width: 400px;
    height: 400px;
    margin: 40px auto;
   
}

.transaction-actions {
    display: flex;
    gap: 10px;
}

.btn {
    font-family: "Merriweather", serif;
    font-size: 13px;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px black solid;
    cursor: pointer;
}

.btn-add {
    background-color: green;
}

.btn-add:hover {
    background-color: rgb(112, 224, 112);
}
.btn-delete {
    background-color: rgb(228, 54, 54);
}

.btn-delete:hover {
    background-color: rgb(246, 119, 119);
}

.btn-edit, .btn-details {
    background-color: rgb(23, 181, 238);
}

.btn-edit:hover, .btn-details:hover {
    background-color: rgb(111, 235, 239);
}

.btn-details {
    display: block;
    margin: 10px auto;
}

.income {
    color: green;
}
.expense {
    color:red;
}
.balance {
    color:brown;
}